body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN CARD */
.card {
    background: #1e293b;
    padding: 30px;
    border-radius: 16px;
    width: 450px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

/* BUTTON */
button {
    background: #22c55e;
    border: none;
    padding: 10px 18px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

button:hover {
    opacity: 0.9;
}

/* HIDE CLASS */
.hidden {
    display: none !important;
}

#loader {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #334155;
    border-top: 4px solid #22c55e;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}

/* PROGRESS BAR */
.bar-container {
    width: 100%;
    height: 20px;
    background: #334155;
    border-radius: 10px;
    margin: 15px 0;
    overflow: hidden;
}

.bar {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #22c55e, #16a34a);
    border-radius: 10px;
    transition: width 0.6s ease;
}

/* CONFIDENCE TEXT */
.confidence-text {
    font-size: 18px;
    font-weight: bold;
}

/* IMAGE */
img {
    max-width: 100%;
    margin-top: 15px;
    border-radius: 8px;
}